.text-wrapper-404 {
    height: 800px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#projector {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.title-404 {
    font-size: 400px;
    line-height: 1em;
    color: white;
    position: relative;
}

.subtitle-404 {
    font-size: 32px;
    font-weight: 400;
    color: white;
    position: relative;
    white-space: nowrap;
}

.subtitle-404:before, .title-404:before {
    content: attr(data-content);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    -webkit-animation: noise-anim-2 3s infinite linear alternate-reverse;
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}

.subtitle-404:after, .title-404:after {
    content: attr(data-content);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    -webkit-animation: noise-anim 2s infinite linear alternate-reverse;
    animation: noise-anim 2s infinite linear alternate-reverse;
}
