#main-header {
    z-index: 20;
    padding-top: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
}

#main-header-before {
    position: absolute;
    height: 20px;
    top: 0px;
    left: 0;
    width: 100%;
    background: url(../images/art.png) repeat-x;
    background-size: 800px 100%;
    -webkit-background-size: 800px 100%;
    -moz-background-size: 800px 100%;
}

#wdd-newsletter-subscribe-form, #main-header .content-block {
    background: #1c2227;
}

#main-header .content-block {
    padding: 0px 20px;
    height: 60px;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: none;
}

#logo {
    top: 50%;
    /*padding: 20px 0;*/
    position: absolute;
    left: 10px;
    display: inline-block;
    width: 50px;
    /*height: 50px;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    float: left;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@font-face
{
    font-family: WisdomScriptAJ;
    src: url('../fonts/WisdomScriptAJ.otf');
}

@font-face {
    font-family: NuvoWeb;
    src: url('../fonts/NuvoWeb.woff')
}

@font-face {
    font-family: Benton Sans;
    src: url('../fonts/BentonSans.otf');
}

@font-face {
    font-family: Bushcraft;
    src: url('../fonts/Bushcraft.otf')
}

@font-face {
  font-family: TiemposTextWeb-Regular;
  src: url('../fonts/TiemposTextWeb-Regular.woff')

}

@font-face {
    font-family: XinDiXiaWuChaBaiJinBan;
    src: url('../fonts/XinDiXiaWuChaBaiJinBan.ttf')
}

#logo-wrap {
    font-family: WisdomScriptAJ;
    position: relative;
    line-height: 20px;
    color: #FAB23A;
    font-size: 180%;
}

.categories-tab-wrap {
    display: inline-block;
    position: relative;
}

span.hm-lnk .livicon, a.hm-lnk .livicon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

a.hm-lnk, span.hm-lnk {
    font-size: 14px;
}

.livicon{
    color: #FAB23A;
    font-size: 20px;
}

.atb-text .category, .article-wdd .category, .hp-cat a, .hp-cat > span, a.hm-lnk, span.hm-lnk {
    font-family: "Benton Sans";
    font-weight: 700;
}

.categories-drop-down, #apps-list {
    background: rgba(40,40,40,0.95);
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
}

.categories-drop-down {
    display: none;
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    background: #fafafa;
    box-sizing: border-box;
    width: 350px;
    position: absolute;
    top: 60px;
    left: 33px;
    z-index: 33;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    text-align: left;
    -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}

span.hm-lnk, a.hm-lnk {
    display: inline-block;
    margin: 0 25px;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 20px 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    height: 60px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.categories-tab-wrap{
    display: inline-block;
    position: relative;
}

.categories-drop-down{
    display: none;
}

.categories-tab-wrap:hover .categories-drop-down{
    display: block;
    width: 350px;
    position: absolute;
    top: 60px;
    left: 33px;
    z-index: 33;
    background: rgba(40,40,40,0.95);
    box-sizing: border-box;
    /*column-count: 2;*/
    text-align: left;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}

.categories-drop-down a{
    white-space: nowrap;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 5px 20px;
    text-transform: capitalize;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    -webkit-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.categories-drop-down a:hover{
    color: #FAB23A;
    padding-left:30px;
    background-color: #444444;
}

.search-ico {
    position: absolute;
    background: #fab23a;
    color: #1c2227;
    font-size: 30px;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    line-height: 60px;
    height: 60px;
    top: 0;
    right: 0;
    width: 60px;
    -webkit-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.search-ico i{
    vertical-align: center;
}

.search-active #search-form {
    width: 400px;
    overflow: visible;
}

.search-active #search-form {
    display: block;
}

.search-drop-menu, #search-form {
    -webkit-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#search-form {
    top: 0;
    height: 100%;
    background: #2e3336;
    display: block;
    right: 60px;
    width: 0px;
    overflow: hidden;
    margin: 0;
    left: auto;
}

#search-form {
    position: absolute;
    width: 20%;
    margin-left: -200px;
    display: none;
}

#header-social-icons, #header-socials, #search-form {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.search-active #search-field {
    width: 100%;
    background: #424242;
    position: relative;
    z-index: 2;
}

#search-field {
    color: #fff;
    background: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    width: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 60px;
}

#search-field {
    background: none;
    width: 100%;
    height: 65px;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#content-wrap {
    /*padding-bottom: 295px;*/
    overflow: hidden;
}

#content{
    position: relative;
}

#content > .content-block {
    background: #fff;
    padding: 20px 30px 40px 30px;
}

.content-block.hp {
    max-width: 1350px;
    margin: 0 auto;
}

.content-block {
    margin: 0 auto;
    max-width: 1400px;
    clear: both;
    position: relative;
}

#wdd-articles{
    margin: -10px 0px 0;
}

.pagination-wrap {
    clear: both;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Bushcraft;
}

.paging-jump-form input, .pagination-block {
    font-size: 25px;
}
.pagination-block {
    position: relative;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    color: #222;
}

.pagination>li>a:hover::after, .pagination>li>span:hover::after{
    background: #FAB23A;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 25px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    background: #fff;
    text-transform: uppercase;
    border: 1px solid #ddd;
    color: #222;
    cursor: pointer;
    margin: 0 10px;
}

.pagination>li.disabled {
    opacity: 0.5;
    pointer-events: none;
    display: none;
}

.disabled{
    display: none;
}

.paging-jump-form {
    position: absolute;
    right: 0;
    top: 36px;
}

.paging-jump-form span {
    float: left;
    margin-left: 5px;
    position: relative;
}

.paging-jump-form input, .pagination-block {
    font-size: 25px;
}

.paging-jump-form input {
    width: 50px;
    vertical-align: middle;
    font-size: 30px;
    height: 38px;
    float: left;
    margin-left: 5px;
    margin-top: -5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 0 0 7px;
}

.pagination>li>a:after, .pagination>li>span:after {
    content: "";
    height: 5px;
    width: 100%;
    padding: 0 1px;
    left: -1px;
    position: absolute;
    bottom: -5px;
    background: #0c7fd7;
}

#icon-preloader {
    text-align: Center;
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    width: 100%;
    top: 50%;
}

#icon-preloader .app-title {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.app-title {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 0;
    background: #f8b147;
    text-transform: uppercase;
    padding: 3px 5px 2px 22px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 13px;
}

#footer {
    background: #1c2227;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 50px 10px 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 2;
}

#footer {
    padding: 0px 0px 5px;
}

#footer {
    font-weight: normal;
}

#footer-before {
    height: 11px;
    position: absolute;
    top: -11px;
    left: 0;
    width: 100%;
    background: url(../images/art.png) repeat-x;
    background-size: 300px 100%;
    -webkit-background-size: 300px 100%;
    -moz-background-size: 300px 100%;
}

#footer-nl .content-block {
    max-width: 1130px;
    padding: 40px 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #fff;
}

.nl-content-block, footer .content-block {
    position: initial;
    max-width: 1130px;
}

.ftnl-left {
    text-align: center;
    position: relative;
    top: -15px;
}
#join-nl-text {
    font-size: 16px;
    line-height: 20px;
}

.nl-page-form-title, #join-nl-text, .wdd-nl-sbsf-inputs {
    position: relative;
    z-index: 2;
}

.ftnl-right {
    margin-top: 10px;
    text-align: center;
}

#wdd-newsletter-newsletter-email, #footer-subscribe-email {
    width: 350px;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    color: #849099;
    background: #fff;
    border: none;
    vertical-align: middle;
    outline: none;
}

#freebie-download-btn-lnk, #freebie-pay-with-tweet-lnk, #shuffle-play-btn, .sweet-alert button, .hc-parent-lnk, .button, .v-download-btn, #footer-subscribe-btn {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    height: 40px;
    line-height: 38px;
    padding: 0;
    vertical-align: middle;
    width: 180px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border: none;
    background: #fab23a;
    color: #1f1f1f;
    border: 2px solid #fab23a;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    outline: none;
    -webkit-appearance: none;
}

#footer-nl:before {
    content: "";
    background: url(../images/envelopes.png) no-repeat right center;
    background-size: auto 100px;
    -webkit-background-size: auto 100px;
    -moz-background-size: auto 100px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 142px;
    height: 100px;
    margin-left: 310px;
}

#fixed-controls {
    position: fixed;
    z-index: 3;
    top: 50%;
    margin-top: -100px;
    background: #fff;
    border: #ddd 1px solid;
    width: 50px;
    font-size: 20px;
    right: 0;
}

[data-tooltip]:not([data-tooltip=""]) {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.fxc-row {
    display: block;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #ececec;
    color: #444;
}

#fixed-controls a:hover{
    color: white;
    background: #000000;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
}

.pagination>li {
    display: inline;
}

/* Animation */
.article-post-info,
#search-field,
.top-submenu a .mn-stb,
.article-diagonal-post .article-post-img,
.top-submenu a:after,
.top-submenu .mn-item:after,
.article-diagonal-post   ,
.article-hp-content-wrap,
.article-hp-content,
.main-col-img,
.adp-content,
.article-post-img,
.sb-post-info,
.sb-post-title,
.sb-post-img,
.sb-popular-posts-block-title:before,
.sb-popular-posts-block-title:after,
.top-submenu a,
.top-submenu .mn-item,
.freebie-post-info,
/*#footer-tags a,*/
#search-form,
.afp-lim:hover h2 a,
.hp-post-pub-info,
.hp-post-pub-info a,
#newsletter-email,
.frb-button,
.button,
.hs-lnk ,
#ft-tg-bg,
.w-pagination a,
#newsletter-button,
#newsletter-button > span,
.main-col-post-info,
.pop-block-title:before,
.pop-block-title,
.article-diagonal-post .adp-img-stub,
.sb-post-bg-img,
.sb-post-lnk-sq,
#footer-tags a > span,
.freebie-col-img-lnk,
.frb-button,
.button,
.inner-link-effect:before,
.author-bio-text a:before,
.inner-link-effect,
.freebie-post-img,
.sb-post-lnk-imgq  img,
.sb-post-row ,
.main-col-post-info-content,
.sb-post-info-2,
.entry-content a.inner-link-effect:after,
.jb-l-line:before,
.author-bio-text a:after  ,
.sweet-alert button,
.pagination>li>a:after,
.pagination>span>a:after,
.pagination>li>a,
.pagination>span>a,
.article-content a,
.article-content a:before,
.article-content a:after
{
  transition: all  0.3s ease-out;
}

.content-block {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
}

.post-author-bio-in {
    padding: 50px 50px;
}

.post-author-bio-in {
    color: #fff;
    text-align: left;
}

.post-author-bio-in, .archive-title {
    background: #191C1D;
    margin: 30px 0;
    position: relative;
}

.post-author-bio-in:after {
    content: "";
    position: absolute;
    top: 0;
    transform: skewX(-10deg);
    width: 30px;
    right: 275px;
    height: 100%;
    background: #e9ebee;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.flex-row {
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}

.post-author-bio-in .post-author-bio-content {
    margin-left: 0px;
    margin-right: 170px;
    flex: 1;
}

.post-author-bio-content {
    margin-left: 135px;
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.post-author-bio-in .post-author-name {
    font-size: 31px;
    color: #F8B147;
}

.post-author-name {
    margin-top: 0;
    /* margin-left: 133px; */
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: NuvoWeb;
}

.post-author-bio-in .author-bio-text {
    font-size: 18px;
    line-height: 1.5em;
}

.author-bio-text {
    font-size: 16px;
    line-height: 24px;
    float: left;
    /* padding-left: 134px; */
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "acumin-pro", 华文行楷;
}

.post-author-bio-in .avatar {
    margin-right: 20px;
    border-radius: 50%;
}

.llr-lv .list-post {
    width: 100%;
    /*height: 250px;*/
}

.list-post {
    width: 50%;
    height: 200px;
    position: relative;
    padding: 0px 15px 30px;
}

.list-post {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.list-list-row{
    margin: 0 -15px;
}

.article-hp-content-wrap {
    position: relative;
    flex: 1;
    -webkit-flex: 1;
}

.article-hp-content {
    background: #fff;
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    /* border: 1px solid #ddd; */
}

.llr-lv .main-col-img {
    width: 210px;
    border-right-width: 5px;
}

.main-col-img {
    width: 170px;
    overflow: hidden;
    position: relative;
    border-right: 4px solid #191c1d;
    display: block;
    height: 100%;
}

.main-col-post-info {
    flex: 1;
    padding: 20px 20px 20px;
}

.llr-lv .main-col-post-info-content {
    padding-right: 20px;
}

.hp-cat {
    line-height: 1em;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.llr-lv .list-post .main-post-title {
    margin-bottom: 15px;
}

.hp-cat a {
    font-weight: bold;
    color: #F8B147;
    /* font-weight: bold; */
    font-size: 13px;
    position: relative;
    text-decoration: none;
}

.llr-lv .list-post .main-post-title {
    margin-bottom: 15px;
}

.list-post .main-post-title {
    margin: 0px 0 0;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-post-title a {
    font-size: 26px;
    color: #151515;
    line-height: 1.1em;
    text-decoration: none;
    font-weight: 700!important;
    /*font-family: XinDiXiaWuChaBaiJinBan;*/
    /* font-weight: bold; */
}

.llr-lv .hp-excerpt {
    font-size: 13px;
    line-height: 1.4em;
    -webkit-line-clamp: 3;
    max-height: 70px;
}

.hp-excerpt {
    font-size: 14px;
    line-height: 1.3em;
    color: #898989;
    margin: 5px 0;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 58px;
}

.list-post .hp-post-pub-info {
    margin-top: 10px;
}

.hp-post-pub-info {
    color: #151515;
}

.hp-post-pub-info {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
}

.hp-post-pub-info a{
    color: inherit;
    text-decoration: none;
}

.hpppi-separator {
    opacity: 0.75;
}

.list-post .hppi-time {
    white-space: nowrap;
}

.llr-lv .list-post .article-post-img {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
}

.list-post .article-post-img, .main-post .article-post-img {
    transition: left 0.3s ease-out,
    top 0.3s ease-out,
    width 0.3s ease-out,
    height 0.3s ease-out,
    transform 5s ease-out 0.3s;
}

.list-post .article-post-img, .main-post:not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(9)) .article-post-img {
    width: 190px;
    height: 190px;
    top: -10px;
    left: -10px;
    max-height: none;
    max-width: none;
    position: absolute;
}

.main-col-img img {
    max-width: none;
    max-height: none;
    position: relative;
}

.ft-inner-img, .wp-post-image {
    max-width: 100%;
}

.adp-img .article-post-img, .article-post-img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.hpppi-author-avatar {
    width: 24px;
    position: relative;
    top: -2px;
    margin-right: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    vertical-align: middle;
}

.hpppi-author a{
    color: #2077d3;
    font-weight: bold;
}

.list-post:hover .article-hp-content,
.main-post:hover .article-hp-content
{
    width:calc(100% + 20px);
    height:calc(100% + 20px);
    left:-10px;
    top:-10px;
}

article.list-post:hover .main-col-img {
    width:220px;
}

.list-post:hover .main-col-img,
.main-post:not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(9)):hover .main-col-img{
  width:180px;
}

.main-post:nth-child(3):hover .main-col-img img,
.main-post:nth-child(4):hover .main-col-img img,
.main-post:nth-child(9):hover .main-col-img img {
  transform:scale(1.1);
}

img.animation {-webkit-transition: all .4s; -moz-transition: all .4s; -ms-transition: all .4s; -o-transition: all .4s; transition: all .4s}
img.animation:hover{-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1)}


#fixed-controls{
    transition: all  .1s ease-out;
}

.footer-copy{
    text-align: center;
    color: white;
    /*font-weight: bold;*/
    font-size: 14px;
    /*font-family: sans-serif, 华文行楷;*/
}


#sidebar, .sidebar {
    min-width: 300px;
    max-width: 300px;
}

.sb-popular-posts.spp-dark {
    background: #191919;
    text-align: center;
    padding: 0px 0px 0;
}

.sb-popular-posts-block-title {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    padding: 2px 10px 2px;
    display: inline-block;
    /* width: 130px; */
    margin: 0 auto 15px;
    color: #FEBC3E;
    background: #F8B147;
    position: relative;
}

.sb-tag-block-title {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    padding: 2px 10px 2px;
    /*display: inline-block;*/
     width: 130px;
    margin: 0 auto 15px;
    color: #FEBC3E;
    background: #F8B147;
    position: relative;
}

.sb-popular-posts-block-title > span {
    color: #191919;
    position: relative;
}

.sb-tag-block-title > span {
    color: #191919;
    position: relative;
}

.sb-post-rows {
    counter-reset: sbnum;
}

.sb-post-row:first-child {
    margin-bottom: 0;
}

.sb-post-row {
    position: relative;
    overflow: hidden;
    border-top: 1px solid rgba(255,255,255, 0.5);
    /* border-bottom: 1px solid rgba(0,0,0, 0.1); */
    /*background: #fff;*/
    background: #191c1d;
    padding: 15px 15px 15px 0px;
    /* height: 130px; */
}

.ft-inner-img, .wp-post-image {
    max-width: 100%;
}

.sb-post-bg-img {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* display: none; */
}

.sb-post-lnk-imgq img, .sb-post-bg-img, .s-related-post img {
    object-fit: cover;
    /*max-width: 100%;*/
}

.content {
    flex: 1;
    padding-right: 60px;
}

.sb-post-lnk-imgq img, .sb-post-bg-img, .s-related-post img {
    object-fit: cover;
    max-width: 100%;
}

.sb-post-lnk-imgq img {
    width: 90px;
    height: 90px;
    /* height: 100%; */
}

.sb-post-row:last-child {
    border-bottom: none;
}

.hp-cat {
    line-height: 1em;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
}

[data-tooltip]:not([data-tooltip=""]) {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.sb-post-title a {
    color: #fff;
    font-size: 22px;
    line-height: 1.2em;
    text-decoration: none;
}

.wrapper {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

*, ::after, ::before {
     box-sizing: inherit;
}

.sb-post-rows:hover .sb-post-row {
  padding-top:5px;
  padding-bottom:5px;

}

.sb-post-rows .sb-post-row:hover {
  padding-top:55px;
  padding-bottom:55px;
}


.sb-post-row.scd {
  height:120px;
  /*padding:5px 15px 5px 0px;*/
}

.sb-post-row.scu {
  height:170px;
}


.sb-post-row:hover .sb-post-bg-img  {
  transform: scale(1.5,1.5);
  -webkit-filter: grayscale(0);
  /*-webkit-filter: grayscale(0%);*/
  filter: grayscale(0%);
  opacity:1;

}

.sb-post-row:hover .sb-post-info-2 /* .sb-post-title*/ {
  opacity:0;
  transform:scale(2);
}

.sb-post-row:hover .sb-post-lnk-sq {
  left:-80px;
}

.sb-post-row .sb-post-title a  {

  /*text-transform:uppercase;*/
}

.sb-post-row .sb-post-title a:hover {
  text-decoration:none;
}

#footer-tags {
    margin-bottom: 20px;
    /*padding: 20px 0 0px;*/
    /*border-top: 1px solid rgba(255,255,255, 0.1);*/
    text-align: Center;
    position: relative;
    /*max-height: 130px;*/
    overflow: hidden;
    background-color: #1f1f1f;
}

#ft-tg-bg {
    position: absolute;
    opacity: 0;
    border: 1px solid #FCBC3E;
    border-radius: 2px;
}

#footer-tags a {
    /* color: rgba(255,255,255,0.6); */
    display: inline-block;
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 2px;
    margin: 0 5px 10px;
}

.footer-copy, #footer-nav-links, #footer-tags a > span {
    font-size: 15px;
}

#footer-tags a > span {
    display: inline-block;
    /* color: #c3c4c4; */
    color: rgba(255,255,255, 0.8);
    padding: 4px 8px;
    /* background: rgba(255,255,255, 0.05); */
    /* opacity: 0.6; */
    text-transform: lowercase;
    position: relative;
    /* mix-blend-mode: multiply; */
}

/*
#footer-tags a > span:after {
  content:"";
  position:absolute;
  left:-1px;
  top:-1px;
  width:100%;
  height:100%;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
   border:1px solid #FCBC3E;
  border-radius:2px;


  -webkit-clip-path: polygon(0px 0, 0 0, 0 100%, 0 100%);
  clip-path: polygon(0px 0, 0 0, 0 100%, 0 100%);

}
*/

#footer-tags a.anim > span {
  transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
}

#footer-tags a.anim > span:after {
  transition: all 0.3s ease-out;
}

#footer-tags a.reversed > span {
  background-position: -100%;
}

#footer-tags a.reversed > span:after{
   -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
   clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);

}

#footer-tags a.over > span:after {
     -webkit-clip-path: polygon(0px 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0px 0, 100% 0, 100% 100%, 0 100%);
}

#footer-tags a:hover > span { color:#FCBC3E; }

#footer-tags a.over > span{ /*opacity:1; text-decoration:None;*/
  /*
  background: linear-gradient(to right, #FCBC3E, #FCBC3E);
  -webkit-background-clip: text;
  */
  text-decoration:None;



  background-position: 0%;
  /*animation: stripeAnimation 0.3s linear forward;*/
}

#footer-tags a > span {
  font-size:15px;
}

#ft-tg-bg.active { opacity:1; }

#hp-dsk {

}

.content-block-w {
    max-width: 1700px;
    margin: 0 auto;
    position: relative;
}

#wdd-newsletter-subscribe-form, #footer, .popular-posts-block, #header {
    background: #191c1d;
}

.popular-posts-block {
    /* border-radius: 16px; */
    /* background: #151515; */
    padding: 0px 35px 25px;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
    text-align: center;
}

.pop-block-title {
    font-size: 26px;
    line-height: 1em;
    display: inline-block;
    background-color: #F8B147;
    padding: 8px 10px 8px;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
    left: 0;
    margin: 0px 0 30px;
}

.pop-block-title > span {
    position: relative;
    z-index: 2;
}

.adp-img-stub {
    position: absolute;
    top: 0;
    left: 0;
    background-size: auto 140%;
    width: 100%;
    height: 100%;
    background-position: center top;
}

.pop-posts-items{
    padding: 0 10px;
}

.popular-posts-block .article-diagonal-post {
    padding: 0 15px;
}

.article-diagonal-post {
    /*padding: 0 15px;*/
    position: relative;
    /*left: 0;*/
}

.adp-6 {
    width: 20%;
}

.adp-content{
    position: relative;
}

.popular-posts-block .article-diagonal-post:first-child .adp-img {
    -webkit-clip-path: polygon(0px 0, 100% 0, calc(100% - 60px) 100%, 0 100%);
    clip-path: polygon(0px 0, 100% 0, calc(100% - 60px) 100%, 0 100% );

}

.article-diagonal-post .adp-img {
    transition: all 0.3s ease-out;
    -webkit-clip-path: polygon(60px 0, 100% 0, calc(100% - 60px) 100%, 0 100%);
    clip-path: polygon(60px 0, 100% 0, calc(100% - 60px) 100%, 0 100% );
    width: calc(100% + 60px);
    left: -30px;
    background-size: auto 140%;
    background-position: center center;
    overflow: hidden;
}

.adp-img {
    position: relative;
    display: block;
}

.article-diagonal-post .adp-img-stub, .article-diagonal-post .adp-img .article-post-img {
    transition-duration: 5s;
    transition-delay: 0.4s;
}

.popular-posts-block .adp-img .article-post-img {
    /* height: 400px; */
    height: 280px;
}

.adp-img .article-post-img {
    /* height: 610px; */
    /*height: 500px;*/
    position: relative;
}

.adp-img .article-post-img, .article-post-img {
    display: block;
    width: 100%;
    object-fit: cover;
}

img.vishi {
    visibility: hidden;
}

.ft-inner-img, .wp-post-image {
    max-width: 100%;
}

.popular-posts-block .article-post-info-wrap {
    position: relative;
}

.article-post-info-wrap {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.article-diagonal-post .article-post-info {
    padding-right: 20px;
    /* padding-left: 12%; */
    padding-left: 0;
    /* padding-left: 40px; */
}

.popular-posts-block .article-post-info {
    background: none;
    margin-left: -40px;
}

.article-post-info {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 20px 20px 20px;
    /*background: rgba(0,0,0,0.85);*/
}

.popular-posts-block .article-post-info-cont {
    padding: 0 15px;
    text-align: center;
}

.article-post-info-cont {
    margin: 0 auto;
}

.pop-posts-items .hp-cat {
    margin: -33px 0 15px;
}

.hp-cat {
    line-height: 1em;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.pop-posts-items .hp-cat a, .pop-posts-items .hp-cat a:hover {
    color: #151515;
    text-decoration: none;
    background: #F8B147;
    display: inline-block;
    padding: 4px 6px;
}

.hp-cat a {
    font-weight: bold;
    color: #F8B147;
    /* font-weight: bold; */
    font-size: 13px;
    position: relative;
}

.popular-posts-block .article-post-title {
    font-size: 26px;
    line-height: 1.2em;
}

.article-post-title {
    font-size: 45px;
    line-height: 1.1em;
    display: inline-block;
}

.article-post-title {
    line-height: 1em;
    text-decoration: none;
    position: relative;
    color: #fff;
}

.article-post-title a {
    color: #fff;
}

.main-post-title a:hover{
    text-decoration-color: #151515;
    text-decoration: underline;
}

.hp-category:hover{
    text-decoration-color: #F8B147;
    text-decoration: underline;
}

.hpppi-author a:hover{
    text-decoration-color: #2077d3;
    text-decoration: underline;
}