#main-header {
    z-index: 20;
    padding-top: 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
}

#main-header-before {
    position: absolute;
    height: 20px;
    top: 0px;
    left: 0;
    width: 100%;
    background: url(../images/art.png) repeat-x;
    background-size: 800px 100%;
    -webkit-background-size: 800px 100%;
    -moz-background-size: 800px 100%;
}

#wdd-newsletter-subscribe-form, #main-header .content-block {
    background: #1c2227;
}

#main-header .content-block {
    padding: 0px 20px;
    height: 60px;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px 0px rgba(0,0,0,0.1);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: none;
}

.content-block {
    margin: 0 auto;
    max-width: 1400px;
    clear: both;
    position: relative;
}

#logo {
    top: 0px;
    padding: 0px;
    position: absolute;
    left: 10px;
    top: 0px;
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

@font-face
{
    font-family: WisdomScriptAJ;
    src: url('../fonts/WisdomScriptAJ.otf');
}

@font-face {
    font-family: Ostrich;
    src: url('../fonts/OstrichSansInline.otf');
}

@font-face {
    font-family: NuvoWeb;
    src: url('../fonts/NuvoWeb.woff')
}

@font-face {
    font-family: QuaverSans;
    src: url('../fonts/QuaverSans.otf');
}

@font-face {
    font-family: QuaverSerif;
    src: url('../fonts/QuaverSerif.otf');
}

@font-face {
    font-family: Comfortaa-Bold;
    src: url('../fonts/Comfortaa-Bold.ttf');
}

@font-face {
    font-family: Comfortaa-Light;
    src: url('../fonts/Comfortaa-Light.ttf');
}

@font-face {
    font-family: Comfortaa-Regular;
    src: url('../fonts/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: ClaireHandRegular ;
    src: url('../fonts/ClaireHandRegular.otf')
}

#logo-wrap {
    font-family: WisdomScriptAJ;
    position: relative;
    top: 20%;
    line-height: 100%;
    color: #FAB23A;
    font-size: 180%;
}

.categories-tab-wrap {
    display: inline-block;
    position: relative;
}

span.hm-lnk .livicon, a.hm-lnk .livicon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: -1px;
}

a.hm-lnk, span.hm-lnk {
    font-size: 14px;
}

.livicon{
    color: #FAB23A;
    font-size: 20px;
}

.atb-text .category, .article-wdd .category, .hp-cat a, .hp-cat > span, a.hm-lnk, span.hm-lnk {
    font-family: "Benton Sans";
    font-weight: 700;
}

.categories-drop-down, #apps-list {
    background: rgba(40,40,40,0.95);
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
}

.categories-drop-down {
    display: none;
    -moz-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    background: #fafafa;
    box-sizing: border-box;
    width: 350px;
    position: absolute;
    top: 60px;
    left: 33px;
    z-index: 33;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    text-align: left;
    -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}

span.hm-lnk, a.hm-lnk {
    display: inline-block;
    margin: 0 25px;
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 20px 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    height: 60px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.categories-tab-wrap{
    display: inline-block;
    position: relative;
}

.categories-drop-down{
    display: none;
}

.categories-tab-wrap:hover .categories-drop-down{
    display: block;
    width: 350px;
    position: absolute;
    top: 60px;
    left: 33px;
    z-index: 33;
    background: rgba(40,40,40,0.95);
    box-sizing: border-box;
    /*column-count: 2;*/
    text-align: left;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.2);
}

.categories-drop-down a{
    white-space: nowrap;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 5px 20px;
    text-transform: capitalize;
    text-decoration: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    -webkit-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.categories-drop-down a:hover{
    color: #FAB23A;
    padding-left:30px;
    background-color: #444444;
}

.search-ico {
    position: absolute;
    background: #fab23a;
    color: #1c2227;
    font-size: 24px;
    cursor: pointer;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 60px;
    padding-top: 13px;
    top: 0;
    right: 0;
    width: 60px;
    -webkit-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.search-active #search-form {
    width: 400px;
    overflow: visible;
}

.search-active #search-form {
    display: block;
}

.search-drop-menu, #search-form {
    -webkit-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#search-form {
    top: 0;
    height: 100%;
    background: #2e3336;
    display: block;
    right: 60px;
    width: 0px;
    overflow: hidden;
    margin: 0;
    left: auto;
}

#search-form {
    position: absolute;
    width: 20%;
    margin-left: -200px;
    display: none;
}

#header-social-icons, #header-socials, #search-form {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.search-active #search-field {
    width: 100%;
    background: #424242;
    position: relative;
    z-index: 2;
}

#search-field {
    color: #fff;
    background: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    width: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 60px;
}

#search-field {
    background: none;
    width: 100%;
    height: 65px;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#content-wrap {
    /*padding-bottom: 295px;*/
    overflow: hidden;
}

#content{
    position: relative;
}

#content > .content-block {
    background: #fff;
    padding: 20px 30px 40px 30px;
}

.content-block.hp {
    max-width: 1350px;
    margin: 0 auto;
}

.content-block {
    margin: 0 auto;
    max-width: 1400px;
    clear: both;
    position: relative;
}

#wdd-articles{
    margin: -10px 0px 0;
}

.hp-set-2, .hp-set-1 {
    position: relative;
    padding-bottom: 74%;
}

.hp-set {
    margin: 0 -10px;
}

.hp-set-2 .article-hp-wdd:nth-child(1), .hp-set-1 .article-hp-wdd:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 64%;
}

.article-hp-wdd {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 10px solid rgba(255,255,255, 0);
}

.article-hp-content, .ahc-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hp-wdd-img-lnk {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    z-index: 2;
}

.article-hp-wdd .ahc-img {
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: auto 120%;
    -webkit-background-size: auto 120%;
    -moz-background-size: auto 120%;
}

.ahc-img {
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.hp-wdd-img {
    display: none;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


.hp-cat {
    z-index: 3;
    display: block;
    /*padding-top: 20px;*/
}


.article-rects.list-mode .article-rect > div, .article-hp-cl-content, .hp-article-info, .article-rects.list-mode .article-rect-text {
    -webkit-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    left: 0;
}

.hp-article-info {
    padding: 0 20px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.hp-article-info, .atb-text {
    background: rgba(0,0,0, 0.82);
}

.hp-article-info {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    padding: 20px 25px;
    color: #fff;
    text-align: left;
    overflow: hidden;
}


.hp-cat a {
    color: #fab23a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
}

.hp-set-1 .article-hp-wdd:nth-child(1) .hp-article-title, .hp-set-3 .article-hp-wdd:nth-child(3) .hp-article-title {
    font-size: 36px;
    font-family: "NuvoWeb";
    padding-top: 0;
}

.article-hp-wdd .hp-article-title {
    font-size: 25px;
}

.hp-article-title {
    font-size: 30px;
    line-height: 1.2em;
    position: relative;
}


.hp-article-title a {
    color: #fff;
}

h2 a {
    color: #000;
    text-decoration: none;
}

.article-hp-wdd .hp-excerpt {
    display: none;
}

.article-hp-wdd .hp-cat, .article-hp-wdd .hp-article-title, .article-hp-wdd .hp-post-pub-info {
    text-shadow: 0 0 6px rgba(0,0,0,0.6);
}

.hp-post-pub-info {
    font-size: 14px;
    position: relative;
    white-space: nowrap;
}

[data-tooltip]:not([data-tooltip=""]) {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.hp-post-pub-info > * {
    vertical-align: middle;
}

.hpppi-author-avatar {
    width: 24px;
    position: relative;
    top: -2px;
    margin-right: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    vertical-align: middle;
}

.hpppi-author a {
    color: #5ab7f3;
    text-decoration: none;
}

.hp-post-pub-info .icon-clock-1 {
    margin-left: -2px;
}

.hpppi-separator {
    display: inline-block;
    margin: 0 3px;
}

.hpsi-row {
    display: inline-block;
    padding: 0px 0px;
    position: relative;
}

.hp-post-pub-info{
    z-index: 2;
    font-family: "Benton Sans";
    font-style: normal;
    font-weight: lighter;
}


.hp-set-2 .article-hp-wdd:nth-child(2), .hp-set-1 .article-hp-wdd:nth-child(2) {
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    height: 32%;
}

.hp-set-1 .article-hp-wdd:nth-child(3) {
    position: absolute;
    right: 0;
    top: 32%;
    width: 40%;
    height: 32%;
}

.hp-set-2 .article-hp-wdd:nth-child(3), .hp-set-1 .article-hp-wdd:nth-child(4) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 33.33%;
    height: 36%;
}

.hp-set-2 .article-hp-wdd:nth-child(4), .hp-set-1 .article-hp-wdd:nth-child(5) {
    position: absolute;
    left: 33.33%;
    bottom: 0;
    width: 33.33%;
    height: 36%;
}

.hp-set-2 .article-hp-wdd:nth-child(5), .hp-set-1 .article-hp-wdd:nth-child(6) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 33.33%;
    height: 36%;
}

.hp-left-c {
    float: left;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-right: 330px;
}

.article-hp-wdd-cl {
    padding: 20px 0px;
    height: 266px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.article-hp-wdd-cl, .article-rects.list-mode .pen-rect, .article-rects.list-mode .article-rect {
    border-bottom: 1px solid #e9edef;
}

article{
    display: block;
}

.article-hp-cl-content .hp-wdd-img-lnk {
    height: 0;
    width: 35%;
    padding-bottom: 22%;
    position: relative;
    float: left;
    display: block;
    padding-right: 20px;
}

.hp-article-title {
    font-size: 30px;
    line-height: 1.2em;
    position: relative;
    font-family: NuvoWeb;
}

[data-tooltip]:not([data-tooltip=""]) {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.list-mode .app-item-cat a, .list-mode .md-cat label, .hp-cat > span, .hp-cat a {
    color: #fab23a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
}

.article-hp-cl-content .hp-article-title a {
    color: #000;
}

.hp-article-title a {
    color: #fff;
}

.hp-excerpt {
    color: #777;
    margin-top: 15px;
    font-size: 15px;
    line-height: 20px;
    font-family: "Benton Sans";
}

.article-hp-cl-content .hp-post-pub-info, .article-hp-cl-content .hp-post-pub-info a {
    color: #777;
}

.hp-post-pub-info {
    font-size: 14px;
    margin-top: 5px;
    position: relative;
    white-space: nowrap;
}

.article-hp-cl-content .hpppi-author a {
    color: #0c7fd7;
}

.hp-post-pub-info .icon-clock-1 {
    margin-left: -2px;
}

.article-hp-cl-content .hp-article-info {
    width: 65%;
    background: none;
    position: relative;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    float: left;
    padding: 0 20px 0 30px;
    overflow: visible;
    margin-left: -20px;
}

.article-rects.list-mode .article-rect > div, .article-hp-cl-content, .hp-article-info, .article-rects.list-mode .article-rect-text {
    -webkit-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    left: 0;
}

.hp-article-info {
    padding: 0 20px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.hp-article-info, .atb-text {
    background: rgba(0,0,0, 0.82);
}

.article-hp-cl-content .hp-wdd-img-lnk {
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: auto 120%;
    -webkit-background-size: auto 120%;
    -moz-background-size: auto 120%;
    overflow: hidden;
}

.pagination-wrap {
    clear: both;
    text-align: center;
    margin-top: 20px;
    font-family: NuvoWeb;
}

.paging-jump-form input, .pagination-block {
    font-size: 25px;
}
.pagination-block {
    position: relative;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    color: #222;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 25px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    background: #fff;
    text-transform: uppercase;
    border: 1px solid #ddd;
    color: #222;
    cursor: pointer;
    margin: 0 10px;
}

.pagination>li.disabled {
    opacity: 0.5;
    pointer-events: none;
    display: none;
}

.disabled{
    display: none;
}

.paging-jump-form {
    position: absolute;
    right: 0;
    top: 36px;
}

.paging-jump-form span {
    float: left;
    margin-left: 5px;
    position: relative;
}

.paging-jump-form input, .pagination-block {
    font-size: 25px;
}

.paging-jump-form input {
    width: 50px;
    vertical-align: middle;
    font-size: 30px;
    height: 38px;
    float: left;
    margin-left: 5px;
    margin-top: -5px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 0 0 7px;
}

.pagination>li>a:after, .pagination>li>span:after {
    content: "";
    height: 5px;
    width: 100%;
    padding: 0 1px;
    left: -1px;
    position: absolute;
    bottom: -5px;
    background: #0c7fd7;
}

#icon-preloader {
    text-align: Center;
    display: none;
    position: fixed;
    z-index: 6;
    left: 0;
    width: 100%;
    top: 50%;
}

#icon-preloader .app-title {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.app-title {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 0;
    background: #f8b147;
    text-transform: uppercase;
    padding: 3px 5px 2px 22px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-size: 13px;
}

#footer {
    background: #1c2227;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 50px 10px 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 2;
}

#footer {
    padding: 0px 0px 5px;
}

#footer {
    font-weight: normal;
}

#footer-before {
    height: 11px;
    position: absolute;
    top: -11px;
    left: 0;
    width: 100%;
    background: url(../images/art.png) repeat-x;
    background-size: 300px 100%;
    -webkit-background-size: 300px 100%;
    -moz-background-size: 300px 100%;
}

#footer-nl .content-block {
    max-width: 1130px;
    padding: 40px 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: #fff;
}

.nl-content-block, footer .content-block {
    position: initial;
    max-width: 1130px;
}

.content-block {
    margin: 0 auto;
    max-width: 1400px;
    clear: both;
    position: relative;
}

.ftnl-left {
    text-align: center;
    position: relative;
    top: -15px;
}
#join-nl-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.nl-page-form-title, #join-nl-text, .wdd-nl-sbsf-inputs {
    position: relative;
    z-index: 2;
}

.ftnl-right {
    margin-top: 10px;
    text-align: center;
}

#wdd-newsletter-newsletter-email, #footer-subscribe-email {
    width: 350px;
    height: 40px;
    padding: 0 10px;
    font-size: 16px;
    color: #849099;
    background: #fff;
    border: none;
    vertical-align: middle;
    outline: none;
}

#freebie-download-btn-lnk, #freebie-pay-with-tweet-lnk, #shuffle-play-btn, .sweet-alert button, .hc-parent-lnk, .button, .v-download-btn, #footer-subscribe-btn {
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    height: 40px;
    line-height: 38px;
    padding: 0;
    vertical-align: middle;
    width: 180px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    border: none;
    background: #fab23a;
    color: #1f1f1f;
    border: 2px solid #fab23a;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: 0.25s ease-in-out;
    -ms-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    outline: none;
    -webkit-appearance: none;
}

#footer-nl:before {
    content: "";
    background: url(../images/envelopes.png) no-repeat right center;
    background-size: auto 100px;
    -webkit-background-size: auto 100px;
    -moz-background-size: auto 100px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 142px;
    height: 100px;
    margin-left: 310px;
}

#fixed-controls {
    position: fixed;
    z-index: 3;
    top: 50%;
    margin-top: -100px;
    background: #fff;
    border: #ddd 1px solid;
    width: 50px;
    font-size: 20px;
    right: 0;
}

[data-tooltip]:not([data-tooltip=""]) {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.fxc-row {
    display: block;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #ececec;
    color: #444;
}

#fixed-controls a:hover{
    color: white;
    background: #000000;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
}

.pagination>li {
    display: inline;
}