html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
  position:absolute;
  width:100%;
  min-height:100%;
  background: #dfe3e5;
  color:#000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Benton Sans";
  font-style: normal;
  font-weight: normal;
}


li{
    list-style: none;
}

footer{
    display: block;
}

.sweet-alert h2, .spr-number, h2.popular-post-title, #shuffle-play-btn, #footer-subscribe-btn, .hp-cat a, .hp-cat > span, .search-options a, .sb-pop-post-lnk, .entry h3, .categories-drop-down, #apps-list, .sb-pop-post-lnk, .hp-cat a, .hp-cat > span, .entry h2.popular-posts-title, .pen-rect h2, .git-rect h2
 .article-rect h2, .books-rects h2, div.pl-md-deal-title, .horizonta-post-title .hpi-text, #footer-subscribe-btn, .popular-posts-title, .article-rect h2, .spr-number, .inner-post-sb-pop h2.popular-post-title, .article-top-block .atb-text .post-pub-info, .tiempos-body #switch-to-serif-btn, .cp-total, .entry-content blockquote p {
    font-family: "Benton Sans";
    font-style: normal;
    font-weight: bold;
    text-transform: none;
}

p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}