@media screen and (min-width: 1390px){
.cw-single div.article-top-block {
    min-height: 600px;
    top: 20px;
}
}

@media screen and (max-width: 1440px){
    .content-block{
        max-width: 1000px;
    }
}

.cw-single div.article-top-block {
    margin: -50px -30px 0;
    overflow: hidden;
    max-height: 765px;
}
.cw-single div.article-top-block {
    max-width: none;
    /*margin: 0 -30px;*/
}
.cw-single div.article-block {
    max-width: none;
    position: relative;
}
div.article-block {
    max-width: 1130px;
    margin: 0 auto;
}
.article-top-block {
    position: relative;
    z-index: 2;
}

.cw-single .ft-inner-img {
    position: relative;
    top: 50px;
}
.ft-inner-img, .wp-post-image {
    max-width: 100%;
}
.ft-inner-img-wrap, .ft-inner-img {
    display: block;
    width: 100%;
    height: auto;
}

.atb-text-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.hp-article-info, .atb-text {
    background: rgba(0,0,0, 0.82);
}
.atb-text {
    color: #fff;
    padding: 35px 20px 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
}
.in-meta {
    position: absolute;
    left: 0;
    width: 100%;
    top: -15px;
    text-align: center;
}
.atb-text .category, .article-wdd .category, .hp-cat a, .hp-cat > span, a.hm-lnk, span.hm-lnk {
    font-family: "Benton Sans";
    font-weight: 700;
}
.atb-text .category {
    left: 0;
    padding: 8px 12px 6px;
    margin-bottom: 0;
    font-size: 15px;
    color: #272828;
    background: #fab23a;
    text-transform: uppercase;
}
.atb-text .category, .article-wdd .category {
    /*padding: 3px 5px 2px 22px;*/
    left: -20px;
    margin-bottom: 30px;
}
.atb-text .category, .article-wdd .category, .hp-cat a, .hp-cat > span, a.hm-lnk, span.hm-lnk {
    font-family: "Benton Sans";
    font-weight: 700;
}

h1.new-single-title {
    font-family: XinDiXiaWuChaBaiJinBan;
    font-size: 50px;
    line-height: 1.2em;
    text-align: center;
    margin: 0px auto 0;
    padding-top: 0px;
}
.atb-text h1 {
    color: #fff;
}
.article-top-block .atb-text .post-pub-info {
    font-size: 13px;
    text-transform: none;
    margin: 10px auto 0px;
    text-align: center;
}
.ppi-author {
    position: relative;
    font-size: 15px;
}
.ppis {
    display: inline-block;
    position: relative;
}
.atb-text .post-pub-info a {
    color: #7ac1f4;
}
.post-pub-info, .post-pub-info a {
    color: #888;
}
body a {
    color: #0c7fd7;
    text-decoration: none;
}
.ppi-author img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    vertical-align: middle;
    margin-right: 5px;
}
.atb-text .post-pub-info a {
    color: #7ac1f4;
}
.ppi-dot {
    display: inline-block;
    margin: 0 3px;
}

#ppi-local-date, .ppi-time-label {
    font-weight: normal;
}

.ppis span{
    color: #fff;
    font-weight: normal;
}

.article-block-wrap{
    margin: 0 auto;
    max-width: 800px;
}

.article-content h1{
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 1rem;
    font-size: 2rem;
}

.article-content h2 {
    font-size: 1.3em;
    margin: 40px 10px 20px 0;
    padding-left: 9px;
    border-left: 6px solid #ff7e79;
}

.article-content h3{
    font-size: 1.28em;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    line-height: 1.2857em;
    margin: calc(2rem - 0.14285em ) 0em 1rem;
    font-weight: bold;
    padding: 0em;
}

.article-content blockquote {
    background: #f9f9f9;
    border-left: 4px solid #fab23a;
    margin: 2.5em 10px;
    padding: 0.5em 10px;
}

.article-content a {
    color: #0c7fd7;
    text-decoration: none;
}

.article-content a:hover{
    cursor: pointer;
    text-decoration: #0c7fd7;
}

.article-content{
    /*color: rgba(0, 0, 0, 0.87);*/
    /*font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
    color: #2f2f2f;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
}

.ui.grey.segment:not(.inverted) {
    border-top: 2px solid #fab23a;
}

.ui.secondary.segment {
    background: #F3F4F5;
    color: rgba(0, 0, 0, 0.6);
}

.ui.segment {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: 1rem 0em;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15);
}

.article-content img{
    margin-bottom: 40px;
}

.article-content p>code{
    font-family: Arial, Helvetica, Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 0;
}

.before-article{
    width: 100%;
    height: 50px;
}

.article-content strong{
    font-weight: bold;
}

.article-content em{
    font-style: italic;
}

.article-content img{
    max-width: 800px;
}

.copyright-box{
    font-family: XinDiXiaWuChaBaiJinBan;
    font-size: 16px;
}

.ppi-reading-time{
    font-weight: normal;
}