<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tangobello Blog | {{ year }}</title>
    <link type="text/css"  rel="stylesheet" href="/static/css/main.css">
    <link type="text/css" rel="stylesheet" href="/static/css/normal.css">
    <link rel="icon" href="/static/images/tangobello_logo.png" type="image/x-icon"/>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/7d2e64164d.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
{% include "header.html" %}
<div id="main-content-block">
    <div class="content-block">
        <div class="post-author-bio-in d-flex flex-row justify-content-center">
            <div class="post-author-bio-content d-flex flex-column justify-content-center">
                <div class="pabiic">
                    <h2 class="post-author-name">Articles written in {{ year }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="content-block content-block-archive-list">
        <div class="wrapper">
            <div class="content">
                <div class="list-list-row llr-lv">
                    {% for post in article_list %}
                    <article class="list-post d-flex">
                        <div class="article-hp-content-wrap">
                            <div class="article-hp-content d-flex flex-wrap">
                                <a class="main-col-img" href="/post/{{ post.post_id }}">
                                    <img width="842" height="480" src="{{ post.cover.cover_path }}" class="article-post-img wp-post-image animation" alt="{{ post.cover.cover_name }}" sizes="(max-width: 842px) 100vw, 842px">
                                </a>
                                <div class="main-col-post-info d-flex  flex-column justify-content-center">
                                    <div class="main-col-post-info-content">
                                        <div class="hp-cat">
                                            <a class="hp-category" href="/category/{{ post.category.category_id }}">{{ post.category.category_name }}</a>
                                        </div>
                                        <h2 class="main-post-title">
                                          <a href="/post/{{ post.post_id }}" class="anim-link">{{ post.article_title }}</a>
                                        </h2>
                                        <div class="hp-excerpt">
                                           {{ post.article_summary }}
                                        </div>
                                         <div class="hp-post-pub-info">
                                            <a class="hp-author-avatar-lnk" href="/author/{{ post.author.author_id }}">
                                                <img src="{{ post.author.author_avatar }}" alt="{{ post.author.author_name }}" class="hpppi-author-avatar">
                                            </a>
                                            <span class="hpppi-author">
                                                By <a href="/author/{{ post.author.author_id }}">{{ post.author.author_name }}</a>
                                            </span>
                                            <span class="hpppi-separator">&nbsp;|&nbsp;</span>

                                            <span class="hppi-time">
                                              <span class="icon-clock-1"></span>
                                              2 days ago
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                </div>
            </div>
            <nav id="sidebar">
                {% include "tag.html" %}
                {% include "popular.html" %}
            </nav>
        </div>
        <div class="pagination-wrap">
            <!-- pagination -->
            {% if max_page > 1 %}
            <div class="pagination-block">
                <ul class="pagination">
                    {% if current_page == 1 %}
                    <li class="disabled">
                        <a href="#" class="navbutton nb-prev">
                            <span><i class="fa fa-caret-left" aria-hidden="true"></i> Prev</span>
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="/archive/{{ year }}/page/{{ current_page - 1 }}" class="navbutton nb-prev">
                            <span><i class="fa fa-caret-left" aria-hidden="true"></i> Prev</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if current_page < max_page %}
                    <li>
                        <a href="/archive/{{ year }}/page/{{ current_page + 1 }}" class="navbutton nb-next">
                            <span>Next <i class="fa fa-caret-right" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <a href="#" class="navbutton nb-next">
                            <span>Next <i class="fa fa-caret-right" aria-hidden="true"></i></span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
                <form class="paging-jump-form" action="#" method="get">
                    <span>Page</span>
                    <input type="text" name="paged" value="{{ current_page }}">
                    <span>of {{ max_page }}</span>
                </form>
            </div>
            {% endif %}
            <!-- end pagination -->
        </div>
    <!-- shortcut of pagination -->
    <div id="fixed-controls">
        <a href="#main-header" class="scroll-to fxc-row"><i class="fa fa-arrow-up" title="Scroll to top"></i></a>
        <a href="#footer" class="fxc-row scroll-to"><i class="fa fa-arrow-down" title="Scroll to bottom"></i></a>
        {% if current_page == 1 %}
        <a href="/archive/{{ year }}/page/{{ current_page - 1 }}" class="disabled">
            <i class="fa fa-arrow-left" title="Next page"></i>
        </a>
        {% else %}
        <a href="/archive/{{ year }}/page/{{ current_page - 1 }}" class="fxc-row">
            <i class="fa fa-arrow-left" title="Next page"></i>
        </a>
        {% endif %}
        {% if current_page < max_page %}
        <a href="/archive/{{ year }}/page/{{ current_page + 1 }}" class="fxc-row">
            <i class="fa fa-arrow-right" title="Next page"></i>
        </a>
        {% else %}
        <a href="/archive/{{ year }}/page/{{ current_page + 1 }}" class="disabled">
            <i class="fa fa-arrow-right" title="Next page"></i>
        </a>
        {% endif %}
    </div>
    <!-- end shortcut of pagination -->
    </div>
</div>
<div id="icon-preloader">
    <label></label>
    <span class="app-title"></span>
</div>
{% include "footer.html" %}
</body>
</html>