<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tangobello Blog</title>
    <link type="text/css"  rel="stylesheet" href="/static/css/main.css">
    <link type="text/css" rel="stylesheet" href="/static/css/normal.css">
    <link type="text/css" rel="stylesheet" href="/static/css/error.css">
    <script src="https://use.fontawesome.com/7d2e64164d.js"></script>
    <script src="/static/js/main.js"></script>
</head>
<body>
{% include "header.html" %}
<div id="content-wrap">
    <div id="content">
        <div class="text-wrapper-404">
            <canvas id="projector"></canvas>
            <h1 class="title-404" data-content="404">
                {{ code }}
            </h1>
            <div class="subtitle-404" data-content="Don’t freak out... but we lost the page you were looking for :(">
               {{ note }}
            </div>
        </div>
    </div>
</div>
<div id="icon-preloader">
    <label></label>
    <span class="app-title"></span>
</div>
{% include "footer.html" %}
</body>
</html>