<footer id="footer-wrap">
    <div id="footer">
        <div class="content-block">
            <form id="newsletter-form" method="post" action="/" class="d-flex flex-row justify-content-center clearfix">
            <div id="newsletter-label" class="d-flex flex-column justify-content-center"
                 data-text="Subscribe to our newsletter" data-replacing-text2="Subscribe to our newsletter"
                 data-replacing-text3="JOIN OUR 1,136,336 SUBSCRIBERS"
                 data-replacing-text1="GET EXCLUSIVE FREEBIES AND NEWS">
                <div id="nl-sublabel">邮件订阅，第一时间GET新文章</div>
            </div>
            <input type="email" id="newsletter-email" value="" placeholder="Enter your email address here">
            <div id="newsletter-button-wrap">
                <a id="newsletter-button" href="#" class="d-flex flex-column justify-content-center">
                    <span>Submit</span>
                </a>
            </div>
            </form>
        </div>
        <nav id="footer-nav-links">
           <a href="/">Home</a>
           <a href="/about">About</a>
           <a href="/categories">Categories</a>
           <a href="/tags">Tags</a>
           <a href="/authors">Authors</a>
           <a href="/timeline">Timeline</a>
           <a href="http://dashboard.tangobello.cn">Dashboard</a>
           <a href="/">Github</a>
           <a href="/contact">Contact</a>
        </nav>
        <div class="footer-copy">
            探戈博鲁 ©  2017-2018 All Rights Reserved 鄂ICP备17029866号
        </div>
    </div>
</footer>