<footer id="footer">
    <div id="footer-before">
    </div>
    <form id="footer-nl" target="sb-subscribe-form-frame" action="/" method="post">
        <div class="content-block">
            <div class="ftnl-left">
                <div id="join-nl-text">
                    订阅后，第一时间GET新文章
                </div>
            </div>
            <div class="ftnl-right">
                <div>
                    <input type="text" class="inactive footer-text-field" name="email" id="footer-subscribe-email" value="" placeholder="Your email address...">
                    <button class="footer-submit-btn" id="footer-subscribe-btn" data-text="Subscribe me" data-replacing-text="LET’S DO IT!">Subscribe me</button>
                </div>
                <input type="hidden" name="ref" id="ref" value="wddfooter">
                <input type="hidden" name="ip" id="nl_sb_ip_field" value="">
                <input type="hidden" name="signupurl" id="signupurl" value="/">
            </div>
        </div>
    </form>
    <div class="footer-copy">
       探戈博鲁  COPYRIGHT ©  2017 ALL RIGHTS RESERVED 鄂ICP备17029866号
     </div>
</footer>