<header id="main-header">
    <div id="main-header-before"></div>
    <div class="content-block">

        <!-- menu -->
        <div id="header-menu-link">

            <!-- categories -->
            <div class="categories-tab-wrap">
                <a href="#" class="hm-lnk">
                    <span class="livicon" id="livicon-1" style="width: 26px; height: 26px;">
                        <i class="fa fa-align-left" title="Categories"></i>
                    </span>
                    <span class="hm-lb">Categories</span>
                </a>
                <div class="categories-drop-down">
                    <a href="/category/c03c9774" class="category-link">前端</a>
                    <a href="/category/1718c0cc" class="category-link">后端</a>
                    <a href="/category/3884bc98" class="category-link">大数据</a>
                    <a href="/category/4bacc228" class="category-link">机器学习</a>
                    <a href="/category/581e8dc2" class="category-link">搜索引擎</a>
                    <a href="/category/639366d2" class="category-link">数据存储</a>
                    <a href="/category/83d36c94" class="category-link">算法</a>
                    <a href="/category/8c1bccd4" class="category-link">书法</a>
                    <a href="/category/6d12a966" class="category-link">手绘</a>
                    <a href="/category/9c949866" class="category-link">其它</a>
                </div>
            </div>
            <!-- end categories -->

            <!-- archives -->
            <div class="categories-tab-wrap">
                <a href="#" class="hm-lnk">
                    <span class="livicon" id="livicon-2" style="width: 26px; height: 26px;">
                        <i class="fa fa-tags" title="Archives"></i>
                    </span>
                    <span class="hm-lb">archives</span>
                </a>
                <div class="categories-drop-down">
                    <a href="/archive/2018" class="category-link">2018</a>
                </div>
            </div>
            <!-- end archives -->

            <!-- book -->
            <a href="#" class="hm-lnk">
                <span class="livicon" id="livicon-3" style="width: 26px; height: 26px;">
                       <i class="fa fa-book" title="Books"></i>
                </span>
                <span class="hm-lb">Books</span>
            </a>
            <!-- end book -->

            <!-- news -->
            <a href="#" class="hm-lnk">
                <span class="livicon" id="livicon-4" style="width: 26px; height: 26px;">
                       <i class="fa fa-newspaper-o" title="News"></i>
                </span>
                <span class="hm-lb">News</span>
            </a>
            <!-- end news -->

        <!-- end menu -->
        </div>

        <!-- logo -->
        <a id="logo" href="/">
            <span id="logo-wrap">
                Tangobello
            </span>
        </a>
        <!-- end logo -->

        <!-- search -->
        <div class="search-ico icon-search blog-search-icon" id="search-f-btn" onclick="showSearchForm();">
            <i class="fa fa-search" aria-hidden="true" title="Search"></i>
        </div>

        <form action="/search" method="GET" id="search-form">
            <input type="text" placeholder="Search" id="search-field" name="keyword">
        </form>
        <!-- end search -->

     <!-- end menu -->
    </div>
</header>

