{% extends "dashboard/base.html" %}
{% block content %}
<body class="main_body">
<div class="layui-layout layui-layout-admin">
    <!-- 顶部 -->
    <div class="layui-header header">
        <div class="layui-main">
            <a href="#" class="logo">tangobello</a>
            <!-- 显示/隐藏菜单 -->
            <a href="javascript:;" class="iconfont hideMenu icon-menu1">
                <i class="fa fa-bars"></i>
            </a>
            <!-- 搜索 -->
            <!-- 天气信息 -->
            <div class="weather" pc="">
			    <div id="tp-weather-widget">
                    <div class="tpwthwidt" data-reactid=".0">
                        <div class="cover_1fRJ83H container_aaK_vMn" data-reactid=".0.0">
                            <div class="tpwidget_title_hook title_2I35arv" style="color:#FFFFFF;" data-reactid=".0.0.0">上海</div>
                                <div class="tpwidget_icon_hook icon_2vazXGH iconSmall_2z-CFEN icon4_1rOJtal" data-reactid=".0.0.1"></div>
                                    <div class="tpwidget_text_hook text_1vUR5ag" style="color:#FFFFFF;" data-reactid=".0.0.2">32°</div>
                            <div class="tpwidget_alarm_hook coverAlarmPane_2o92LQm" data-reactid=".0.0.3">
                                <div data-reactid=".0.0.3.0">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
			<script src="//widget.seniverse.com/widget/chameleon.js" charset="utf-8" async=""></script><script>(function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))</script>
			<script>tpwidget("init", {
				"flavor": "slim",
				"location": "WX4FBXXFKE4F",
				"geolocation": "enabled",
				"language": "zh-chs",
				"unit": "c",
				"theme": "chameleon",
				"container": "tp-weather-widget",
				"bubble": "disabled",
				"alarmType": "badge",
				"color": "#FFFFFF",
				"uid": "U9EC08A15F",
				"hash": "039da28f5581f4bcb5c799fb4cdfb673"
			});
			tpwidget("show");</script>
		    </div>
            <!-- 顶部右侧菜单 -->
            <ul class="layui-nav top_menu">
                <li class="layui-nav-item showNotice" id="showNotice" pc>
                    <a href="javascript:;">
                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                        <cite>系统公告</cite>
                    </a>
                </li>
                <li class="layui-nav-item" mobile>
                    <a href="javascript:;" class="mobileAddTab" data-url="page/user/changePwd.html">
                        <i class="iconfont icon-shezhi1" data-icon="icon-shezhi1"></i>
                        <cite>设置</cite>
                    </a>
                </li>
                <li class="layui-nav-item" mobile>
                    <a href="page/login/login.html" class="signOut">
                        <i class="iconfont icon-loginout"></i>
                        <cite>退出</cite>
                    </a>
                </li>
                <li class="layui-nav-item lockcms" pc>
                    <a href="javascript:;">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        <cite>锁屏</cite>
                    </a>
                </li>
                <li class="layui-nav-item" pc>
                    <a href="javascript:;">
                        <img src="/static/images/face.jpg" class="layui-circle" width="35" height="35">
                        <cite>请叫我马哥</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-url="page/user/userInfo.html">
                                <i class="iconfont icon-zhanghu" data-icon="icon-zhanghu"></i>
                                <cite>个人资料</cite>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="page/user/changePwd.html">
                                <i class="iconfont icon-shezhi1" data-icon="icon-shezhi1"></i>
                                <cite>修改密码</cite>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" class="changeSkin">
                                <i class="iconfont icon-huanfu"></i>
                                <cite>更换皮肤</cite>
                            </a>
                        </dd>
                        <dd>
                            <a href="page/login/login.html" class="signOut">
                                <i class="fa fa-power-off" aria-hidden="true"></i>
                                <cite>退出</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!-- 左侧导航 -->
    <div class="layui-side layui-bg-black">
        <div class="user-photo">
            <a class="img" title="我的头像" ><img src="/static/images/face.jpg"></a>
            <p>你好！<span class="userName">请叫我马哥</span>, 欢迎登录</p>
        </div>
        <div class="navBar layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-this">
                    <a href="javascript:;" data-url="page/main.html">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <cite>后台首页</cite>
                    </a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" data-url="page/news/newsList.html">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <cite>段子来了</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-url="/dashboard/joke/pun">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>段子管理</cite>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="page/404.html">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>笑话管理</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
               <li class="layui-nav-item">
                    <a href="javascript:;" data-url="page/news/newsList.html">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <cite>热点直通车</cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-url="page/404.html">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>新闻管理</cite>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="page/404.html">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>轮播图管理</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <cite>博客天地</cite>
                        <span class="layui-nav-more"></span>
                    </a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" data-url="page/404.html">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>文章管理</cite>
                            </a>
                        </dd>
                        <dd>
                            <a href="javascript:;" data-url="page/login/login.html">
                                <i class="layui-icon" data-icon=""></i>
                                <cite>标签管理</cite>
                            </a>
                        </dd>
                    </dl>
                </li>
                <span class="layui-nav-bar" style="top: 112.5px; height: 0px; opacity: 0;">
                </span>
            </ul>
        </div>
    </div>
    <!-- 右侧内容 -->
    <div class="layui-body layui-form">
        <div class="layui-tab marg0" lay-filter="bodyTab" id="top_tabs_box">
            <ul class="layui-tab-title top_tab" id="top_tabs">
                <li class="layui-this" lay-id=""><i class="iconfont icon-computer"></i>
                    <cite>后台首页</cite>
                </li>
            </ul>
            <ul class="layui-nav closeBox">
              <li class="layui-nav-item">
                <a href="javascript:;">
                    <i class="iconfont icon-caozuo"></i>
                    <cite>页面操作</cite>
                </a>
                <dl class="layui-nav-child">
                  <dd>
                      <a href="javascript:;" class="refresh refreshThis">
                        <i class="layui-icon">&#x1002;</i>
                          <cite>刷新当前</cite>
                      </a>
                  </dd>
                  <dd>
                      <a href="javascript:;" class="closePageOther">
                          <i class="iconfont icon-prohibit"></i>
                          <cite>关闭其他</cite>
                      </a>
                  </dd>
                  <dd>
                      <a href="javascript:;" class="closePageAll">
                          <i class="iconfont icon-guanbi"></i>
                          <cite>关闭全部</cite>
                      </a>
                  </dd>
                </dl>
              </li>
            </ul>
            <div class="layui-tab-content clildFrame">
                <div class="layui-tab-item layui-show">
                    <iframe src="page/main.html"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div class="layui-footer footer">
        <p>copyright @2017</p>
    </div>
</div>

<!-- 移动导航 -->
<div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
</div>
<div class="site-mobile-shade"></div>
</body>
{% endblock %}