<footer id="footer">
    <div id="footer-before">
    </div>
    <form id="footer-nl" target="sb-subscribe-form-frame" action="/" method="post">
        <div class="content-block">
            <div class="ftnl-left">
                <div id="join-nl-text">
                    Join us and get access to the latest tools, freebies, product announcements and much more!
                </div>
            </div>
            <div class="ftnl-right">
                <div>
                    <input type="text" class="inactive footer-text-field" name="email" id="footer-subscribe-email" value="" placeholder="Your email address...">
                    <!--<input type="submit" class="footer-submit-btn" id="footer-subscribe-btn" value="Subscribe me">-->
                    <button class="footer-submit-btn" id="footer-subscribe-btn" data-text="Subscribe me" data-replacing-text="LET’S DO IT!">Subscribe me</button>
                </div>
                <input type="hidden" name="ref" id="ref" value="wddfooter">
                <input type="hidden" name="ip" id="nl_sb_ip_field" value="">
                <input type="hidden" name="signupurl" id="signupurl" value="/">
            </div>
        </div>
    </form>
</footer>